<% if !!current_user %>
  <%= "Signed in as #{current_user.email}" %> |
<% end %>
<% if !!current_user && !current_cart.nil?%>
  <%= link_to 'Cart', cart_path(current_user.current_cart) %>
<% end %>
<nav class="">
    <ul>
        <%= link_to "Store Home", store_path %> |
        <%= link_to "sign in", new_user_session_path, :class => 'navbar-link'  %> |
        <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %> |
        <%= link_to "Sign out", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
    </ul>
</nav>
